* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: 0.2rem solid black;
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 2rem;
    justify-content: space-around;
}

.box {
    height: 5rem;
}

.box-logo {
    background-color: antiquewhite;
    width: 5rem;
}


/* .box-logo img {
    width: auto;
} */

.box-search {
    background-color: rgb(161, 201, 156);
    width: 80rem;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

.box-icon-1 {
    background-color: rgb(211, 191, 165);
    width: 4rem;
}

.box-icon-2 {
    background-color: rgb(215, 191, 235);
    width: 4rem;
}

.box-icon-3 {
    background-color: rgb(143, 114, 76);
    width: 4rem;
}

.box-icon-4 {
    background-color: rgb(174, 213, 224);
    width: 4rem;
}

img {
    max-width: 100%;
    margin-bottom: 0.5em;
    border-radius: 20px;
}

.gallery {
    columns: 7 200px;
    column-gap: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
}