* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    /* border: 0.2rem solid black; */
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 2rem;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
}

.box {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
}

.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 5rem;
    padding: 1px;
}


/* .box-logo img {
    width: auto;
} */

.box-search {
    /* background-color: rgb(161, 201, 156); */
    /* width: 80rem; */
    flex-grow: 1;
    padding: 1rem;
}

.input-search {
    display: flex;
    flex-grow: 1;
    height: 3.8rem;
    border-radius: 50px;
    padding-left: 2rem;
    border: 0;
    background-color: #efefef;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
}

.box-icon-1 {
    /* background-color: rgb(211, 191, 165); */
    width: 4rem;
    padding: 1rem;
}

.box-icon-2 {
    /* background-color: rgb(215, 191, 235); */
    width: 4rem;
    padding: 1rem;
}

.box-icon-3 {
    /* background-color: rgb(143, 114, 76); */
    width: 4rem;
    padding: 1rem;
}

.box-icon-4 {
    /* background-color: rgb(174, 213, 224); */
    width: 4rem;
    padding: 1.1rem;
}

.icon {
    justify-items: center;
}

svg {
    z-index: 999;
}

.svg :hover {
    background-color: rgba(86, 87, 87, 0.151);
    padding: 1.5rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
}

img {
    max-width: 100%;
    margin-bottom: 0.5em;
    border-radius: 20px;
}

.btn-save {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #e60023;
    color: #efefef;
    border-radius: 50px;
    border: 0;
    font-weight: bold;
}

.gallery {
    columns: 7 200px;
    column-gap: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
}